
<%= form_with model: @article, class: "flex flex-col gap-4" do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="flex flex-col gap-2">
    <%= form.label :title, 
      class:"form-label"
    %>
    <%= form.text_field :title,
      class:"form-input",
      data: {
        article_target: "title",
        action: "input->article#preview"
      }
    %>
  </div>


  <div class="flex flex-col gap-2">
    <%= form.label :body, "Contents (in markdown)", 
      class:"form-label"
    %>
    <%= form.text_area :body,
      rows:4, 
      class:"form-input",
      data: {
        article_target: "body",
        action: "input->article#preview"
      }
    %>
  </div>

<% end %>
